
/* Stile für die Karten */
.card{
    border-radius: 0.5rem;
    background-color: #faf0e6;
}
/*Card-Titel unterstreichen und Dicker*/
.card-title{
    font-weight: bold;
    text-decoration: underline;
}
/*Link grüne Farbe geben*/
.card-link{
    color: #4d5d53;
}
/*Card-Link Hover Effekt hinzufügen*/
.card-link:hover{
    text-shadow: 0.25rem 0.25rem 0.5rem#AEAD92;
}
/* Stile für die Benutzerprofilkarte */
.user-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-image{
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.user-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
/*Stil für Kommentar-Karten Profile*/
.user-profile-comments{
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Medienabfrage für kleine Bildschirme (z. B. Smartphones) */
@media (max-width: 768px) {
    .card {
        width: 100%; /* Karten auf volle Breite ändern */
        margin: 2rem 0; /* Abstand oben und unten hinzufügen */
        float: none; /* Karten zentrieren */
    }

}
