/*Suchleiste formatieren, färben und platzieren*/
#search-input{
    font-size: 1rem;
}
.input-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #AEAD92;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 6rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #4d5d53;
    box-shadow: 0.25rem 0.25rem 0.5rem #4d5d53;
}
input{
    margin: 0 0.5rem 0 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: #AEAD92;
    color: #4d5d53;
}
/*Platzhalter-Text einfärben*/
::placeholder{
    color: #4d5d53;
}
/*Suchglas grüne Farbe geben und Maus als Hover registrieren*/
.input-wrapper button{
    background-color: #AEAD92;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
    color: #4d5d53;
}
/*Suchbutton Hover Effekt geben*/
.input-wrapper button:hover{
    background-color: #faf0e6;
}
/*Fail-Results formatieren*/
.fail-results{
    color: #4d5d53;
    background-color: #AEAD92;
    margin: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem #4d5d53;
    text-align: center;
}
/*Suchkarten formatieren*/
/* Stile für die Karten-Container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Zentriert die Karten horizontal */
}
/* Stile für die Karten */
.card {
    border-radius: 0.5rem;
    background-color: #faf0e6;
    width: 20rem;
}
/*Link grüne Farbe geben*/
.card-link{
    color: #4d5d53;
}
/*Card-Links Hover Effekt geben*/
.card-link:hover{
    text-shadow: 0.25rem 0.25rem 0.5rem#4d5d53;
}
/* Medienabfrage für kleine Bildschirme (z. B. Smartphones) */
@media (max-width: 768px) {
    .card {
        width: 100%; /* Karten auf volle Breite ändern */
        margin: 10px 0; /* Abstand oben und unten hinzufügen */
        float: none; /* Karten zentrieren */
    }
}

