/*Suchleiste formatieren, färben und platzieren*/
#search-input{
    font-size: 1rem;
}
.input-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #33ccff 0%, #9900ff 100%);
    margin-bottom: 0.5rem;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 40%;
    color: black;
    box-shadow: 0.25rem 0.25rem 0.5rem black;
}
input{
    margin: 0 0.5rem 0 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: black;
}
/*Platzhalter-Text einfärben*/
::placeholder{
    color: black;
}
/*Suchglas grüne Farbe geben und Maus als Hover registrieren*/
.input-wrapper button{
    border: none;
    border-radius: 0.5rem;
    background: transparent;
    outline: none;
    cursor: pointer;
    color: black;
}
/*Suchbutton Hover Effekt geben*/
.input-wrapper button:hover{
    background-color: grey;
}
/*Fail-Results formatieren*/
.fail-results{
    color: black;
    background: linear-gradient(to right, #33ccff 0%, #9900ff 100%);
    margin: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem black;
    text-align: center;
}
/*Suchkarten formatieren*/
/* Stile für die Karten-Container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Zentriert die Karten horizontal */
}
/* Stile für die Karten */
.card {
    border-radius: 0.5rem;
    background-color: white;
    width: 20rem;
}
/*Link grüne Farbe geben*/
.card-link{
    color: grey;
}
/*Card-Links Hover Effekt geben*/
.card-link:hover{
    text-shadow: 0.25rem 0.25rem 0.5rem grey;
}
/* Medienabfrage für kleine Bildschirme (z. B. Smartphones) */
@media (max-width: 768px) {
    .card {
        width: 100%; /* Karten auf volle Breite ändern */
        margin: 2rem 0; /* Abstand oben und unten hinzufügen */
        float: none; /* Karten zentrieren */
    }
    .input-wrapper{
        width: 65%;
    }
}

